@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Lato&display=swap');

$regular-font: 'Lato', sans-serif;
$header-font: 'Averia Libre', cursive;
$highlight-color: #af6e4e;
$divider-color: #af6e4e33;
$secondary-color: #f8f8f8;
$gray: #3a3a3a;
$bg-color: rgba(245, 201, 178, 0.4);
$header-color: black;
